@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/* Header */
header {
    width: 100%;
}

#logo {
    padding: 2rem;
    width: 50%;
}


/* Hero */

#hero-img-desktop {
    display: none; //Don't show on mobile
}


/* Body */



/* Form */



.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
