@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: hsl(0, 6%, 24%);
    background: linear-gradient(135deg hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}


/* Header */
header#mobile {
    width: 100%;
}

header#desktop {
    display: none;
}

#logo {
    padding: 2rem;
    width: 50%;
}


/* Hero */
#hero-img-desktop {
    display: none; //Don't show on mobile
}


/* Body */
#body-text {
    h1 {
        letter-spacing: 10px;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        width: 80%;
        margin: 2.5rem auto 2rem auto;

        span {
            color: hsl(0, 36%, 70%);
            font-weight: 300;
        }
    }

    p {
        color:hsl(0, 36%, 70%);
        line-height: 1.5;
        text-align: center;
        margin: 0 auto;
        padding: .5rem;
        font-weight: 600;
    }
}


/* Form */
#email-form {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;

    input {
        margin: 2rem auto;
        width: 95%;
        border: 1px solid hsl(0, 36%, 70%);
        border-radius: 30px;
        padding: 1rem 2rem;
    }

    input::placeholder{
            color: hsl(0, 36%, 70%);
            opacity: .5;
        }

    button[type=submit] {
        background: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
        border-radius: 30px;
        padding: 13.5px 25px;
        border: 0;
        margin-left: -62px; 
        margin-top: 2rem;
        position: absolute; 
        z-index: 2; 
    }

}


@media screen and (min-width: 376px) {
   #logo{
        width: 25%;
    }
     #hero-img-mobile {
        text-align: center;
    }
}


@media screen and (min-width: 768px) {
    #hero-img-mobile {
        display: none;
    }

    #hero-img-desktop {
        display: block;
        text-align: center;
    }
}


@media screen and (min-width: 1024px) {
    body {
        background-image: url('images/bg-pattern-desktop.svg');
    }

    main {
        display: flex;
        flex-direction: row;
    }

    header#mobile {
        display: none;
    }

    header#desktop {
        display: block;
        width: 50%;
        margin-top: -5rem;
    }
    
    #logo {
        width: 75%;
        margin-left: 5rem;
    }

    #hero-img-desktop {
        order: 2;
        width: 50%;

        img {
            height: 100vh;
        }
    }

    #flex-desktop {
        margin-top: 6rem;
        
    }
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
